<!DOCTYPE html>
<html>
 <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Arvind Agrwal | Young Entrepreneur</title>
    <!--Custom fonts -->
	
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css' rel='stylesheet'/>

    <!-- Google analytics-->
    <script async="" src="https://www.google-analytics.com/analytics.js"></script>

    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Custom CSS -->
    <link href="@routes.Assets.versioned("stylesheets/clean-blog.css")" rel="stylesheet" />


    <!--Jquery Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<style>
	 .inner-page p {
      font-size: 14px;
      text-align: justify;
      line-height: 25px;
      font-weight:300;
     }
	 .contact .fa {
      font-size: 20px;
      margin-left: 10px;
      text-align: center;
      width: 30px;
    }
 </style>
</head>
<body>
<nav class="navbar navbar-default navbar-custom navbar-fixed-top" style="background-color:#35DBB2;color:#ffffff">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
           <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>                 
            <a class="navbar-brand" href="/">Arvind Agrwal</a> 
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/technology">Technology</a>
                </li>
                <li>
                    <a href="/travel">Travel</a>
                </li>
                <li>
                <a href="/philoshphy">Philoshphy</a>
               </li>
                <li>
                    <a href="/about">About</a>
                </li>
                <li>
                    <a href="/contact">Contact</a>
                </li>
                <li>
                    <a href="/login">Login</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<div class="inner-page contact-us">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30449.877598989533!2d78.37413602151793!3d17.448477225862565!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb9158f201b205%3A0x11bbe7be7792411b!2sMadhapur%2C+Hyderabad%2C+Telangana!5e0!3m2!1sen!2sin!4v1473465655259" width="1800" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
 <div class="container">
   <div class="header-intro">
    <h2>Contact Me</h2>
    <p>It's always great to hear from you!!</p>
  </div>
  <div class="col-lg-12 contact content-header" id="pricing">
    <div class="col-md-6 no-padding-left">
      <p><i class="fa fa-map-marker"></i>Madhapur</p>
	  <p><i class="fa fa-map-marker"></i>Hyderabad-500081</p>
      <p><i class="fa fa-envelope"></i>arvind.agarwal-gmail.com</p>
      <p><i class="fa fa-phone"></i>+91-7097307991</p>      
    </div>    
    <div class="col-md-6">
    <input type="text" placeholder="Name">
    <input type="text" placeholder="E-Mail">
    <textarea name="" id="" cols="30" rows="10" placeholder="Message"></textarea>
    <button class="send">Send</button>
   </div>
  </div> 
  </div>
</body>
</html>
	
